@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

body {
  background: url(../images/Vector-Smart-Object1.png) no-repeat;
  background: rgba(134, 140, 144, .3);
  background-size: cover;
  font-family: Arial;
}

header {
  width: 100%;
  height: 61px;
  box-shadow: 1px 2px 3px 0.00px rgba(49, 49, 49, 0.7);
  position: fixed;
  background-color: #42494e;
}

.wrapper {
  width: 952px;
  margin: 0 auto;
}

header ul,
header li { display: inline-block; }

ul { list-style-type: none; }

header li a {
  padding: 5px 10px;
  margin: 20px 0;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

header li a:hover { opacity: .5; }

h1 {
  width: 318px;
  height: 45px;
  margin: 51px 0 0;
  display: inline-block;
}

h1 a {
  width: 318px;
  height: 45px;
  display: inline-block;
  background: url("../images/logo.png") no-repeat;
  text-indent: -9999px;
}

.contain { width: 100%; }

.submenu { 
  display: none; 
  text-indent: 5px;
}

section { width: 1015px; }

section h2 {
  width: 234px;
  height: 192px;
  display: inline-block;
  vertical-align: top;
}

.visited { 
  border: 1px solid #fff;
  border-bottom: 1px solid #868c90;
}

section h2 a {
  width: 234px;
  height: 192px;
  display: inline-block;
  background: url(../images/Vector-Smart-Object.png) no-repeat;
  text-indent: -9999px;
}

section img { margin: 95px 0 0 40px; }

.sidebar { 
  width: 200px;
  margin: 100px 0 0 0;
  float: right;
  background: #e3e3e3; 
}

.sidebar h3 {
  padding: 10px;
  background: url(../images/Vector-line.png) no-repeat top left;
  color: #003b5c;
  font-size: 22px;
  font-weight: 500;
  line-height: 16.667px;
  text-align: left;
}

.sidebar li { background: url(../images/layer-bottom.png) no-repeat top center; }

.share {
  width: 121px;
  height: 21px;
  margin: 30px 0 0;
  clear: both;
  float: right;
  background: url(../images/Layer-117.png) no-repeat;
  text-indent: -9999px;
}

.sidebar li a {
  padding: 20px 10px;
  display: inline-block;
  color: #003b5c;
  font-size: 14px;
  line-height: 16.667px;
  text-align: left;
  text-decoration: none;
}

.pop-up {
  width: 731px;
  padding: 30px;
  box-shadow: 2px 4px 5px 0.00px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 200px;
  background: url(../images/cross.png) no-repeat 758px 12px;
  background-color: #ffffff;
}

.pop-up .left,
.left-bottom,
.right-bottom { display: inline-block; }

.left-bottom { vertical-align: top; }

.pop-up .left h3 {
  color: #003b5c;
  font-size: 22px;
  font-weight: bold;
  line-height: 16.667px;
  text-align: left;
}

.pop-up .left h3 + p {
  width: 338px;
  margin: 10px 0 24px;
  color: #003b5c;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}

.pop-up .left p span { display: block; }

.pop-up .left h6 {
  width: 247px;
  color: #003b5c;
  font-size: 14px;
  font-weight: bold;
  line-height: 15.667px;
  text-align: left;
}

.pop-up .left p {
  width: 336px;
  margin: 10px 0 0;
  color: #003b5c;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}

.pop-up > div:first-child {
  padding: 0 0 30px 0;
  margin: 0 0 30px 0;
  background: url(../images/layer-bottom.png) no-repeat bottom center;
}

.pop-up .left p + p { margin: 16px 0 0; }

.pop-up .left ul {
  margin: 0 0 0 27px;
  list-style-type: disc; 
  color: #003b5c;
}

.pop-up .left li  span {
  width: 331px;
  color: #003b5c;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.pop-up .left h4 {
  margin: 20px 0 0;
  color: #003b5c;
  font-size: 20px;
  font-weight: bold;
  line-height: 16.667px;
  text-align: left;
}

.right {
  width: 237px;
  margin: 0 0 0 37px;
  display: inline-block;
  background: url(../images/Layer.png) no-repeat;
}

.right img {
  width: 208px;
  height: 107px;
  margin: 10px;
}

.right p {
  width: 209px;
  margin: 17px;
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
}

.left-bottom h5 {
  color: #003b5c;
  font-size: 16px;
  font-weight: bold;
  line-height: 17px;
  text-align: left;
}

.left-bottom ul { 
  margin: 0 0 0 30px;
  list-style-type: disc; 
  color: #003b5c;
}

.left-bottom li span:first-child {
  display: block;
  color: #003b5c;
  font-size: 15px;
  font-weight: bold;
  line-height: 17px;
  text-align: left;
}

.left-bottom li span:first-child + span {
  display: block;
  color: #003b5c;
  font-size: 15px;
  font-weight: bold;
  line-height: 17px;
  text-align: left;
}

.left-bottom li span {
  display: block;
  color: #003b5c;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}

.right-bottom { 
  width: 330px; 
  margin: 0 0 0 76px;
}

.right-bottom ul { 
  margin: 0 0 0 20px;
  list-style-type: disc; 
  color: #003b5c;
}

.right-bottom h5 {
  color: #003b5c;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  text-align: left;
}

.right-bottom p {
  color: #003b5c;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}

.right-bottom li span:first-child {
  display: block;
  color: #003b5c;
  font-size: 15px;
  font-weight: bold;
  line-height: 17px;
  text-align: left;
}

.right-bottom li span {
  display: block;
  color: #003b5c;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}

.form-data {
  width: 1012px;
  margin: 210px 0 0;
  background: url(../images/Vector-line.png) no-repeat top right;
  background-color: #fff;
}

form {
  width: 515px;
  margin: 273px 35px 0;
  display: block;
}

form div {
  margin: 0 20px 0 0; 
  display: inline-block; 
}

form div:first-child input { 
  width: 250px; 
  height: 28px;
}

form input,
form select { 
  width: 114px;
  height: 30px;
  border: none;
  display: block; 
  background: #e3e3e3;
}

form input { 
  height: 26px; 
  width: 80px;
}

form label,
form select {
  color: #565a5d;
  font-size: 14px;
  font-weight: 400;
}

.form-data p {
  width: 494px;
  margin: 55px 0 0;
  float: right;
  color: #003b5c;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.14px;
  line-height: 18px;
  text-align: left;
}

.submit {
  width: 262px;
  height: 46px;
  margin: 30px 20px 27px 230px;
  border: none;
  clear: both;
  float: right;
  background: url(../images/Submit.png) no-repeat;
  text-indent: -9999px;
}

.info {
  width: 952px;
  padding: 30px;
  margin: 13px auto 60px;
  box-shadow: 1px 2px 3px 0.00px rgba(49, 49, 49, 0.7);
  background-color:  #ffffff;
}

.info h3 {
  margin: 0 0 10px 0;
  color: #003b5c;
  font-size: 20px;
  font-weight: bold;
  line-height: 16.5px;
  text-align: justify;
}

.info p { 
  color: #003b5c;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.35px;
  line-height: 16.5px;
  text-align: justify;
}

.info p + p { margin: 10px 0 10px 0; }

.info h3 + p {
  margin: 0 0 29px 0;
  color: #003b5c;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.5px;
  text-align: justify;
}

.info h6 {
  color: #003b5c;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.35px;
  line-height: 20px;
  text-align: justify;
}

.info p { 
  color: #003b5c;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.35px;
  line-height: 16.5px;
  text-align: justify;
}